<table>
  <tr>
  
    <!-- Voting -->
    <td class="center-block" 
        style="width:40px;">
      <div ng-if="!user_is_logged_in()"
           class="text-center text-muted"
           ng-click="ask_user_to_log_in()"
           popover="Sign in to vote" 
           popover-placement="right" 
           popover-trigger="mouseenter">
        <i class="fa fa-caret-up"></i>
      </div>
      <div ng-if="user_is_logged_in() && 
                  !i_have_any(contribution.upvotes) && 
                  !i_have_any(contribution.downvotes) && 
                  !is_my(contribution)"
           class="text-center clickable text-muted"
           ng-click="vote = vote || new_item('vote', {'content': 'up'});
                     save_item(vote, {'parent': contribution})" 
           popover="Great point!" 
           popover-placement="right" 
           popover-trigger="mouseenter">
        <span ng-if="!vote.saving && !vote.save_failed"><i class="fa fa-caret-up"></i></span>
        <span ng-if="vote.saving"><i class="fa fa-spinner fa-spin"></i></span>
        <span ng-if="vote.save_failed"><i class="fa fa-caret-up"></i></span>
      </div>
      <div ng-if="user_is_logged_in() && 
                  i_have_any(contribution.upvotes) && 
                  !is_my(contribution)"
           class="text-center clickable"
           ng-click="vote = get_my(contribution.upvotes);
                     delete_item(vote);" 
           popover="Remove your upvote" 
           popover-placement="right" 
           popover-trigger="mouseenter">
        <b ng-if="!vote.deleting && !vote.delete_failed"><i class="fa fa-caret-up"></i></b>
        <span ng-if="vote.deleting"><i class="fa fa-spinner fa-spin"></i></span>
        <span ng-if="vote.delete_failed"><i class="fa fa-caret-up"></i></span>
      </div>
      <div class="text-center"
            popover="{{voting_summary(contribution)}}" 
            popover-placement="right" 
            popover-trigger="mouseenter"
      >
        {{upvote_count(contribution) - downvote_count(contribution)}}
      </div>
      <div  ng-if="user_is_logged_in() && 
                   is_teacher() && 
                   !i_have_any(contribution.downvotes) && 
                   !i_have_any(contribution.upvotes) && 
                   !is_my(contribution)"
            class="text-center clickable text-muted"
            ng-click="vote = vote || new_item('vote', {'content': 'down'});
                      save_item(vote, {'parent': contribution})" 
            popover="Not helpful.  Hide this post." 
            popover-placement="right" 
            popover-trigger="mouseenter">
        <span ng-if="!vote.saving && !vote.save_failed"><i class="fa fa-caret-down"></i></span>
        <span ng-if="vote.saving"><i class="fa fa-spinner fa-spin"></i></span>
        <span ng-if="vote.save_failed"><i class="fa fa-caret-down"></i></span>
      </div>
      <div  ng-if="user_is_logged_in() && 
                   i_have_any(contribution.downvotes) && 
                   !is_my(contribution)"
            class="text-center clickable"
            ng-click="vote = get_my(contribution.downvotes);
                      delete_item(vote)" 
            popover="Remove your downvote." 
            popover-placement="right" 
            popover-trigger="mouseenter">
        <b ng-if="!vote.deleting && !vote.delete_failed"><i class="fa fa-caret-down"></i></b>
        <span ng-if="vote.deleting"><i class="fa fa-spinner fa-spin"></i></span>
        <span ng-if="vote.delete_failed"><i class="fa fa-caret-down"></i></span>
      </div>
    </td>
    
    
    <td style="width:100%;">
      <!-- Other's contributions -->
      <div ng-if="user != contribution.user">
        <p ng-bind-html="contribution.content | trust"></p>
    
        <!-- Signature -->
        <signature ng-init="item = contribution"></signature>
        
        <!-- Comments -->
        <comments></comments>
      </div>

      <!-- My contribution -->
      <div ng-if="user == contribution.user &&
                  !contribution.editing &&
                  contribution.saved_content">
        <p ng-bind-html="contribution.content | trust" 
           ng-click="edit_item(contribution)" 
           popover="Click to edit your contribution" 
           popover-placement="bottom" 
           popover-trigger="mouseenter"></p>

        <!-- Delete -->
        <span ng-if="!contribution.editing">
            <span   class="clickable" 
                    ng-really-message="Really delete your contribution?  This cannot be undone." 
                    ng-really-click="delete_item(contribution)"
                    popover="Delete your contribution" 
                    popover-placement="right" 
                    popover-trigger="mouseenter">
              <span aria-hidden="true">
                <b ng-if="!contribution.deleting && !contribution.delete_failed">&times;</b>
                <span ng-if="contribution.deleting"><i class="fa fa-spinner fa-spin"></i></span>
                <span ng-if="contribution.delete_failed">&times;</span>
            </span>
        </span>

           
        <!-- Signature -->
        <signature ng-init="item = contribution"></signature>

        <!-- Comments -->
        <comments></comments>
      </div>
      <br>
    </td>
    <td class="center-block" 
        style="width:40px;"></td>

  </tr>
</table>

